    /*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * alternate-gothic-no-1-d:
 *   - http://typekit.com/eulas/000000000000000000010d5b
 * alternate-gothic-no-2-d:
 *   - http://typekit.com/eulas/000000000000000000010d5c
 * alternate-gothic-no-3-d:
 *   - http://typekit.com/eulas/000000000000000000010d5d
 * kegger-collegiate:
 *   - http://typekit.com/eulas/00000000000000003b9b4169
 * kegger-us:
 *   - http://typekit.com/eulas/00000000000000003b9b4168
 * proxima-nova:
 *   - http://typekit.com/eulas/00000000000000003b9b306c
 *   - http://typekit.com/eulas/00000000000000003b9b306d
 *   - http://typekit.com/eulas/00000000000000003b9b3068
 *   - http://typekit.com/eulas/00000000000000003b9b3069
 *   - http://typekit.com/eulas/00000000000000003b9b306a
 *   - http://typekit.com/eulas/00000000000000003b9b306b
 *   - http://typekit.com/eulas/00000000000000003b9b305e
 *   - http://typekit.com/eulas/00000000000000003b9b305f
 *   - http://typekit.com/eulas/00000000000000003b9b3066
 *   - http://typekit.com/eulas/00000000000000003b9b3067
 *   - http://typekit.com/eulas/00000000000000003b9b3062
 *   - http://typekit.com/eulas/00000000000000003b9b3063
 *   - http://typekit.com/eulas/00000000000000003b9b3060
 *   - http://typekit.com/eulas/00000000000000003b9b3061
 *   - http://typekit.com/eulas/00000000000000003b9b3064
 *   - http://typekit.com/eulas/00000000000000003b9b3065
 * proxima-nova-condensed:
 *   - http://typekit.com/eulas/00000000000000003b9b307c
 *   - http://typekit.com/eulas/00000000000000003b9b307d
 *   - http://typekit.com/eulas/00000000000000003b9b3078
 *   - http://typekit.com/eulas/00000000000000003b9b3079
 *   - http://typekit.com/eulas/00000000000000003b9b3070
 *   - http://typekit.com/eulas/00000000000000003b9b3071
 *   - http://typekit.com/eulas/00000000000000003b9b3072
 *   - http://typekit.com/eulas/00000000000000003b9b3073
 *   - http://typekit.com/eulas/00000000000000003b9b3076
 *   - http://typekit.com/eulas/00000000000000003b9b3077
 *   - http://typekit.com/eulas/00000000000000003b9b306e
 *   - http://typekit.com/eulas/00000000000000003b9b306f
 *   - http://typekit.com/eulas/00000000000000003b9b307a
 *   - http://typekit.com/eulas/00000000000000003b9b307b
 *   - http://typekit.com/eulas/00000000000000003b9b3074
 *   - http://typekit.com/eulas/00000000000000003b9b3075
 * proxima-nova-extra-condensed:
 *   - http://typekit.com/eulas/00000000000000003b9b308c
 *   - http://typekit.com/eulas/00000000000000003b9b3089
 *   - http://typekit.com/eulas/00000000000000003b9b3088
 *   - http://typekit.com/eulas/00000000000000003b9b3081
 *   - http://typekit.com/eulas/00000000000000003b9b3080
 *   - http://typekit.com/eulas/00000000000000003b9b308d
 *   - http://typekit.com/eulas/00000000000000003b9b3083
 *   - http://typekit.com/eulas/00000000000000003b9b3082
 *   - http://typekit.com/eulas/00000000000000003b9b3087
 *   - http://typekit.com/eulas/00000000000000003b9b3086
 *   - http://typekit.com/eulas/00000000000000003b9b307e
 *   - http://typekit.com/eulas/00000000000000003b9b307f
 *   - http://typekit.com/eulas/00000000000000003b9b308a
 *   - http://typekit.com/eulas/00000000000000003b9b308b
 *   - http://typekit.com/eulas/00000000000000003b9b3084
 *   - http://typekit.com/eulas/00000000000000003b9b3085
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-09-29 20:27:22 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=xgv0dez&ht=tk&f=92.137.138.139.140.169.170.171.172.173.174.175.176.5474.5475.25136.25137.141.142.143.144.145.146.147.148.149.150.151.152.153.154.25138.25139.155.156.157.158.159.160.161.162.163.164.165.166.167.168.25140.25141.442.10326.10327.10328&a=35159201&app=typekit&e=css");

@font-face {
font-family:"kegger-collegiate";
src:url("https://use.typekit.net/af/8b8d88/00000000000000003b9b4169/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/8b8d88/00000000000000003b9b4169/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/8b8d88/00000000000000003b9b4169/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/b683e3/00000000000000003b9b306c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/b683e3/00000000000000003b9b306c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/b683e3/00000000000000003b9b306c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/d32834/00000000000000003b9b306d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/d32834/00000000000000003b9b306d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/d32834/00000000000000003b9b306d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:900;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/4c4052/00000000000000003b9b3069/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/4c4052/00000000000000003b9b3069/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/4c4052/00000000000000003b9b3069/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/d82519/00000000000000003b9b306a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/d82519/00000000000000003b9b306a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/d82519/00000000000000003b9b306a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:800;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/3e6df8/00000000000000003b9b306b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff2"),url("https://use.typekit.net/af/3e6df8/00000000000000003b9b306b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff"),url("https://use.typekit.net/af/3e6df8/00000000000000003b9b306b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:800;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/c47696/00000000000000003b9b305e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/c47696/00000000000000003b9b305e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/c47696/00000000000000003b9b305e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/c31dbb/00000000000000003b9b305f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff2"),url("https://use.typekit.net/af/c31dbb/00000000000000003b9b305f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff"),url("https://use.typekit.net/af/c31dbb/00000000000000003b9b305f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:100;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/f7d492/00000000000000003b9b3067/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/f7d492/00000000000000003b9b3067/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/f7d492/00000000000000003b9b3067/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:600;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/5c70f2/00000000000000003b9b3063/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/5c70f2/00000000000000003b9b3063/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/5c70f2/00000000000000003b9b3063/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/40ff7f/00000000000000003b9b3061/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/40ff7f/00000000000000003b9b3061/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/40ff7f/00000000000000003b9b3061/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:300;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/6e816b/00000000000000003b9b3064/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/6e816b/00000000000000003b9b3064/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/6e816b/00000000000000003b9b3064/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/5b5251/00000000000000003b9b3065/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/5b5251/00000000000000003b9b3065/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/5b5251/00000000000000003b9b3065/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;
}

@font-face {
font-family:"proxima-nova-condensed";
src:url("https://use.typekit.net/af/a7c0e4/00000000000000003b9b307c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/a7c0e4/00000000000000003b9b307c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/a7c0e4/00000000000000003b9b307c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;
}

@font-face {
font-family:"proxima-nova-condensed";
src:url("https://use.typekit.net/af/706204/00000000000000003b9b307d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/706204/00000000000000003b9b307d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/706204/00000000000000003b9b307d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:900;
}

@font-face {
font-family:"proxima-nova-condensed";
src:url("https://use.typekit.net/af/0ff5e1/00000000000000003b9b3078/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/0ff5e1/00000000000000003b9b3078/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/0ff5e1/00000000000000003b9b3078/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"proxima-nova-condensed";
src:url("https://use.typekit.net/af/519896/00000000000000003b9b3079/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/519896/00000000000000003b9b3079/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/519896/00000000000000003b9b3079/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"proxima-nova-condensed";
src:url("https://use.typekit.net/af/30f4b6/00000000000000003b9b3070/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/30f4b6/00000000000000003b9b3070/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/30f4b6/00000000000000003b9b3070/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"proxima-nova-condensed";
src:url("https://use.typekit.net/af/32b365/00000000000000003b9b3071/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/32b365/00000000000000003b9b3071/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/32b365/00000000000000003b9b3071/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:300;
}

@font-face {
font-family:"proxima-nova-condensed";
src:url("https://use.typekit.net/af/8e2bbd/00000000000000003b9b3072/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/8e2bbd/00000000000000003b9b3072/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/8e2bbd/00000000000000003b9b3072/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"proxima-nova-condensed";
src:url("https://use.typekit.net/af/5364bc/00000000000000003b9b3073/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/5364bc/00000000000000003b9b3073/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/5364bc/00000000000000003b9b3073/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"proxima-nova-condensed";
src:url("https://use.typekit.net/af/949eb9/00000000000000003b9b3076/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/949eb9/00000000000000003b9b3076/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/949eb9/00000000000000003b9b3076/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"proxima-nova-condensed";
src:url("https://use.typekit.net/af/3a4ba8/00000000000000003b9b3077/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/3a4ba8/00000000000000003b9b3077/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/3a4ba8/00000000000000003b9b3077/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:600;
}

@font-face {
font-family:"proxima-nova-condensed";
src:url("https://use.typekit.net/af/642e4f/00000000000000003b9b306e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/642e4f/00000000000000003b9b306e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/642e4f/00000000000000003b9b306e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:200;
}

@font-face {
font-family:"proxima-nova-condensed";
src:url("https://use.typekit.net/af/09b793/00000000000000003b9b306f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/09b793/00000000000000003b9b306f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/09b793/00000000000000003b9b306f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:200;
}

@font-face {
font-family:"proxima-nova-condensed";
src:url("https://use.typekit.net/af/14ae2f/00000000000000003b9b307a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/14ae2f/00000000000000003b9b307a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/14ae2f/00000000000000003b9b307a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:800;
}

@font-face {
font-family:"proxima-nova-condensed";
src:url("https://use.typekit.net/af/3fd2f1/00000000000000003b9b307b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff2"),url("https://use.typekit.net/af/3fd2f1/00000000000000003b9b307b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff"),url("https://use.typekit.net/af/3fd2f1/00000000000000003b9b307b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:800;
}

@font-face {
font-family:"proxima-nova-condensed";
src:url("https://use.typekit.net/af/1ca608/00000000000000003b9b3074/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/1ca608/00000000000000003b9b3074/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/1ca608/00000000000000003b9b3074/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"proxima-nova-condensed";
src:url("https://use.typekit.net/af/a5cffa/00000000000000003b9b3075/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/a5cffa/00000000000000003b9b3075/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/a5cffa/00000000000000003b9b3075/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;
}

@font-face {
font-family:"proxima-nova-extra-condensed";
src:url("https://use.typekit.net/af/2132f7/00000000000000003b9b308c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/2132f7/00000000000000003b9b308c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/2132f7/00000000000000003b9b308c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;
}

@font-face {
font-family:"proxima-nova-extra-condensed";
src:url("https://use.typekit.net/af/4a329e/00000000000000003b9b3089/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/4a329e/00000000000000003b9b3089/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/4a329e/00000000000000003b9b3089/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"proxima-nova-extra-condensed";
src:url("https://use.typekit.net/af/7b18df/00000000000000003b9b3088/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/7b18df/00000000000000003b9b3088/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/7b18df/00000000000000003b9b3088/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"proxima-nova-extra-condensed";
src:url("https://use.typekit.net/af/75e545/00000000000000003b9b3081/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/75e545/00000000000000003b9b3081/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/75e545/00000000000000003b9b3081/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:300;
}

@font-face {
font-family:"proxima-nova-extra-condensed";
src:url("https://use.typekit.net/af/2c5b68/00000000000000003b9b3080/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/2c5b68/00000000000000003b9b3080/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/2c5b68/00000000000000003b9b3080/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"proxima-nova-extra-condensed";
src:url("https://use.typekit.net/af/693bfb/00000000000000003b9b308d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/693bfb/00000000000000003b9b308d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/693bfb/00000000000000003b9b308d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:900;
}

@font-face {
font-family:"proxima-nova-extra-condensed";
src:url("https://use.typekit.net/af/bcf2f4/00000000000000003b9b3083/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/bcf2f4/00000000000000003b9b3083/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/bcf2f4/00000000000000003b9b3083/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"proxima-nova-extra-condensed";
src:url("https://use.typekit.net/af/0dfb3d/00000000000000003b9b3082/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/0dfb3d/00000000000000003b9b3082/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/0dfb3d/00000000000000003b9b3082/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"proxima-nova-extra-condensed";
src:url("https://use.typekit.net/af/3f8fac/00000000000000003b9b3087/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/3f8fac/00000000000000003b9b3087/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/3f8fac/00000000000000003b9b3087/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:600;
}

@font-face {
font-family:"proxima-nova-extra-condensed";
src:url("https://use.typekit.net/af/65314b/00000000000000003b9b3086/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/65314b/00000000000000003b9b3086/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/65314b/00000000000000003b9b3086/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"proxima-nova-extra-condensed";
src:url("https://use.typekit.net/af/c57249/00000000000000003b9b307e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/c57249/00000000000000003b9b307e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/c57249/00000000000000003b9b307e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:200;
}

@font-face {
font-family:"proxima-nova-extra-condensed";
src:url("https://use.typekit.net/af/b97210/00000000000000003b9b307f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/b97210/00000000000000003b9b307f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/b97210/00000000000000003b9b307f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:200;
}

@font-face {
font-family:"proxima-nova-extra-condensed";
src:url("https://use.typekit.net/af/4c1f88/00000000000000003b9b308a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/4c1f88/00000000000000003b9b308a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/4c1f88/00000000000000003b9b308a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:800;
}

@font-face {
font-family:"proxima-nova-extra-condensed";
src:url("https://use.typekit.net/af/7e7028/00000000000000003b9b308b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff2"),url("https://use.typekit.net/af/7e7028/00000000000000003b9b308b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff"),url("https://use.typekit.net/af/7e7028/00000000000000003b9b308b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:800;
}

@font-face {
font-family:"proxima-nova-extra-condensed";
src:url("https://use.typekit.net/af/1c187b/00000000000000003b9b3084/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/1c187b/00000000000000003b9b3084/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/1c187b/00000000000000003b9b3084/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"proxima-nova-extra-condensed";
src:url("https://use.typekit.net/af/8023ab/00000000000000003b9b3085/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/8023ab/00000000000000003b9b3085/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/8023ab/00000000000000003b9b3085/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;
}

@font-face {
font-family:"kegger-us";
src:url("https://use.typekit.net/af/b0d2bb/00000000000000003b9b4168/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/b0d2bb/00000000000000003b9b4168/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/b0d2bb/00000000000000003b9b4168/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"alternate-gothic-no-1-d";
src:url("https://use.typekit.net/af/9fa845/000000000000000000010d5b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/9fa845/000000000000000000010d5b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/9fa845/000000000000000000010d5b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"alternate-gothic-no-2-d";
src:url("https://use.typekit.net/af/2d5126/000000000000000000010d5c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/2d5126/000000000000000000010d5c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/2d5126/000000000000000000010d5c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"alternate-gothic-no-3-d";
src:url("https://use.typekit.net/af/f629be/000000000000000000010d5d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/f629be/000000000000000000010d5d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/f629be/000000000000000000010d5d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

.tk-kegger-collegiate { font-family: "kegger-collegiate",sans-serif; }
.tk-proxima-nova { font-family: "proxima-nova",sans-serif; }
.tk-proxima-nova-condensed { font-family: "proxima-nova-condensed",sans-serif; }
.tk-proxima-nova-extra-condensed { font-family: "proxima-nova-extra-condensed",sans-serif; }
.tk-kegger-us { font-family: "kegger-us",serif; }
.tk-alternate-gothic-no-1-d { font-family: "alternate-gothic-no-1-d",sans-serif; }
.tk-alternate-gothic-no-2-d { font-family: "alternate-gothic-no-2-d",sans-serif; }
.tk-alternate-gothic-no-3-d { font-family: "alternate-gothic-no-3-d",sans-serif; }


    a, h5, li{
        font-family: "proxima-nova", Sans-serif;
        outline: none;
    }
    *, * * {position: initial;}

    .navbar-brand img{
        max-width: 70px;
        box-shadow: none;
    }
    .col-megamenu.mega-desc a.after-summ-a{
	line-height:2.5em;
    }
    li.d-md-none.nav-item.gu-search-icon{
        list-style: none;
    }
    .megamenu .mega-border-right{
        border-right: 1px solid #DDDFE7;
    }
    .megamenu .mega-border-left{
        border-left: 1px solid #DDDFE7;
    }

    .fa-search{
        color:#0F4D81;
        padding-left: 15px;
        cursor: pointer;
    }
    .gu-top-bar{
        background-color: #DDDFE7;
        padding: 0px 22px 4px 22px;
        margin:0px;
    }
    .gu-top-bar a{
        color:#54595F;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        font-family: "proxima-nova", Sans-serif;
    }
    .gu-top-bar a i{
        color: #54595F;
        font-size: 10px;
        margin: 0px 3px 0px 0px;
    }
    .gu-top-bar .first-col a{
        padding-right: 15px;
        font-family: "proxima-nova", Sans-serif;
        cursor: pointer;
    }
    .gu-top-bar .second-col a{
        padding-left: 15px;
        font-family: "proxima-nova", Sans-serif;
        cursor: pointer;
    }
    .gu-top-bar .second-col a:hover i{
        color: #0F4D81;
    }
    .gu-top-bar a:hover{
        color:#0F4D81;
        text-decoration: none;
    }
    .gu-top-bar .second-col a.red-link, .gu-top-bar .second-col a.red-link i{color:#c36;}
    .col-megamenu li a{
        color:#595F6F; 
        transition: ease-in-out 0.3s;
        font-family: "proxima-nova", Sans-serif;
        font-size: 16px;
    }
    .col-megamenu li a:hover{
        color:#0678B3; 
        text-decoration: none;
    }
    .col-megamenu li{
        margin-bottom: 7px;
        font-family: "proxima-nova", Sans-serif;
    }
    .megamenu .title-col .title{
        color: #595F6F;
        font-size: 18px;
        font-weight: 600;
        line-height: 1em;
        letter-spacing: 0px;
        margin-bottom: 0px;
    }
    .megamenu .title-col .title.first{
        color:#0D3F69;
        font-size: 22px;
        font-weight: bold;
    }
    .header-sticky .dropdown-menu.megamenu{
        margin-top: -6px !important;
    }
    .col-megamenu.mega-desc p{
        color: rgb(89, 95, 111);
    }
    .col-megamenu.mega-desc a{
        color: #0678B3;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        margin: 15px 0;
    }
    .col-megamenu.mega-desc a:hover{
        color:#0F4D81;
        text-decoration: none;
    }
    #gallaTemp p{
        background-color: #0F4D81;
        color:white;
        padding: 15px 5px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
        text-align: center;
        font-size: 34px;
        width:80px;
        height: 80px;
        font-family: "proxima-nova", Sans-serif;
    }
    #gallaTemp{
        margin-top: -30px;
        position: absolute;
        margin-left:15px;
    }
    #search{
        align-items: center;
        background: rgba(0, 0, 0, .975);
        height: 0;
        display: flex;
        justify-content: center;
        opacity: 0;
        position: fixed;
        transition: all .5s;
        width: 100vw;
        will-change: transform, opacity;
        z-index: -1;
    }

    #search:target {
        height: 30vh !important;
        opacity: 1;
        width: 100vw !important;
        z-index: 999;
    }
    #search .close-btn{ 
        display: block; 
        font-size:32px;
        margin-top:10px;
    }

    #searchbox{
        background: transparent;
        border: solid #ffffff7d;
        border-width: 0 0 2px 0;
        color: #fff;
        flex: 1 0 auto;
        font-size: 28px;
        height: 2rem;
        max-width: 50%;
        outline: 0;
        padding: 30px 0;
        border-radius: 0px;
        font-family: "proxima-nova", Sans-serif;
    }
    #searchbox::placeholder{
        font-family: "proxima-nova", Sans-serif;
        color:#ffffff73;
    }

    .close-btn{
        display: none;
        color: #fff;
        font-size: 2rem;
        position: absolute;
        top: .5rem;
        right: 2rem;
    }

    #search .fade{
        height: 100vh;
        width: 100vw;
        transition: opacity .5s;
    }
    #close-search{
        color:white;
    }
    .navbar-nav .icon-search{
        color:#0F4D81;
        margin-left:15px;
        margin-top:-10px;
        font-size:18px;
    }
    .header-sticky .navbar-nav .icon-search{
	color:white;
    }
    .navbar-nav .gu-search-icon{
        margin-top:-3px;
        margin-left: 0px;
        margin-right: 0px;
    }
    #main_nav a.dropdown-toggle{
    	font-weight:600;
    }	

    @media all and (min-width: 1266px) {
        #main_nav a.dropdown-toggle{
            font-size: 18px;
        }
    }
    @media all and (min-width: 1260px){
	#outer_nav.header-sticky a.dropdown-toggle{
	    margin-left:30px;
	}
    }
    @media all and (min-width: 992px) and (max-width: 1265px) {
        #main_nav a.dropdown-toggle{
            font-size: 16px;
        }
    }
    @media all and (min-width: 769px) and (max-width: 991px) {
        #main_nav a.dropdown-toggle{
            font-size: 12px;
        }
    }
	@media all and (min-width: 769px) {
		.navbar{ 
            padding-top: 0; padding-bottom: 0; 
        }
        .navbar-expand-md .navbar-nav{
            margin-right: 0px;
        }
		.navbar .has-megamenu{
            position:static!important;
            margin-left: 0px;
            margin-right: 0px;
	    padding-bottom: 10px;
        }
		.navbar .megamenu{left:0; right:0; width:100%; padding:20px;  }
		.navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
        #main_nav a.dropdown-toggle{
            color:#0F4D81;
            padding: 0px;
            margin-left: 15px;
            padding-bottom: 5px;
            font-weight: 600;
            font-family: "proxima-nova", Sans-serif;
        }
        #main_nav a.dropdown-toggle:hover{
        color: #0678B3;
        }
        
        .header-sticky{
          background-color: #0F4D81 !important;
          position: fixed;
          width: 100%;
          top:0;
          padding-bottom: 0px !important;
          z-index: 99;
        }
        .header-sticky .navbar-brand img{
            max-width: 55px;
        }

        #outer_nav.header-sticky a.dropdown-toggle{
            color: white !important;
        }
        #outer_nav.header-sticky i.fa-search{
            color: white !important;
        }
        .col-megamenu ul.list-unstyled, .col-megamenu ul.list-unstyled li{
            margin-left: 0px;
        }{
            margin-left: 0px;
        }


        #main_nav a.dropdown-toggle:after{display:none;}
        a.left
        {
          position: relative;
        }

        a.left:before {
          content: "";
          position: absolute;
          width: 0;
          height: 3px;
          bottom: 0;
          left: 0;
          background-color: #EFCA77;
          visibility: hidden;
          transition: all 0.3s ease-in-out;
        }
        a.left:hover:before {
          visibility: visible;
          width: 100%;
        }
        .dropdown-menu.megamenu{
            margin-top: -25px !important;
            background-color: #F7F8FB;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
            border-radius: 0px;
            border:none;
            padding-top:50px;
            padding-bottom: 50px;
        }
        .dropdown-menu.megamenu .mega-wrap{
            max-width: 1266px;
            margin: auto;
        }
        .dropdown-menu.megamenu .col-megamenu img{
            max-width: 100%;
            border-radius: 5px;
            box-shadow: 5px 5px 35px 5px rgba(0, 0, 0, 0.1);
        }
        .navbar{
            padding-bottom: 20px;
            background-color:#F7F8FB;
            padding-left: 30px;
            padding-right: 30px;
        }
        .row.align-right-mbl{
            margin:0px;
        }
        .dropdown-menu, .header-sticky{
          animation-name: slidenavAnimation;
          animation-duration:.5s;
          animation-iteration-count: 1;
          animation-timing-function: ease;
          animation-fill-mode: forwards;

          -webkit-animation-name: slidenavAnimation;
          -webkit-animation-duration:.5s;
          -webkit-animation-iteration-count: 1;
          -webkit-animation-timing-function: ease;
          -webkit-animation-fill-mode: forwards;

          -moz-animation-name: slidenavAnimation;
          -moz-animation-duration:.5s;
          -moz-animation-iteration-count: 1;
          -moz-animation-timing-function: ease;
          -moz-animation-fill-mode: forwards;
        }
        @keyframes slidenavAnimation {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
        @-webkit-keyframes slidenavAnimation {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        .navbar .nav-item .dropdown-menu{ display: none; }
        .navbar .nav-item:hover .nav-link{ color: #fff;  }
        .navbar .nav-item:hover .dropdown-menu{ 
            display: block; 
        }
        .navbar .nav-item .dropdown-menu{ margin-top:0; }

        #main_nav{
            justify-content: flex-end;
	    padding-top:20px;
        }
        #outer_nav > div {
            width: auto;
            background-color: #f8f9fa;
        }
        #outer_nav.header-sticky > div {
            width: auto;
            background-color: #0F4D81 !important;
        }
        .col-megamenu{
            padding-right: 15px !important;
        }
	}

    @media (max-width: 768px){
        .align-right-mbl{
            justify-content: space-between;
            width: 100%;
            margin:0px;
            padding:10px 15px;
        }
	#searchbox{
            max-width:80%;
        }
        #main_nav .dropdown-menu{
            box-shadow: none;
            -webkit-box-shadow: none;
        }
        #outer_nav .align-right-mbl{
            background-color: #0F4D81 !important;
            display: flex;
        }
        .gu-top-bar{display: none;}
        .navbar-toggler{border:none;}
        #outer_nav{
            background-color:transparent;
            padding:0px;
            position:fixed;
            top:0;
            right:0;
            left:0;
            z-index: 99;
            border:none;
        }
        .navbar-light .navbar-toggler{
            color: white !important;
            outline: none;
            background-color: transparent;
            box-shadow: none;
            border:none;
        }
        #main_nav{
            padding: 0px 15px;
            background-color:white !important;
        }
        .gray-cta-mbl .col{
            background-color: #595F6F;
            color: white;
            text-align: center;
            padding:12px 0px;
            border-right: 1px solid white;
        }
        .gray-cta-mbl .col:last-of-type{
            border-right: 0px solid white;
        }
        .gray-cta-mbl .col a{
            font-family: "proxima-nova", Sans-serif;
            text-transform: uppercase;
            font-size: 12px;
            color:white;
        }
        .dropdown-toggle::after{
            position: absolute;
            right: 0;
            content: "\2192";
            border:none;
        }
        .dropdown-toggle{
            color:#0F4D81 !important;
            font-size: 22px;
            font-weight: 600;
        }
        .navbar-nav{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .navbar-nav .dropdown-menu{
            padding:0px 15px;
        }
        .dropdown-toggle.mbl-nav-open::after{
            content: "\2190";
        }
        .navbar-nav .dropdown-menu{border:none;}
        .dropdown-menu.megamenu.show {
            position: relative;
            left: -800px;
            -webkit-animation: slide 0.5s forwards;
            -webkit-animation-delay: 0.1s;
            animation: slide 0.5s forwards;
            animation-delay: 0.1s;
            width: 100%;
            margin:0px;
            border-radius: 0px;
        }

        @-webkit-keyframes slide {
            100% { left: 0; }
        }

        @keyframes slide {
            100% { left: 0; }
        }

        .megamenu .mega-border-right{
            border-right: none;
        }
        .outer-mega-col{
            border-left: 1px solid #DDDFE7;
        }
        .gu-bottom-mbl li{
            list-style: none;
            font-weight: 700;
            color:#595F6F;
            margin-bottom: 7px;
            text-transform: uppercase;
            font-size: 14px;
        }
        .gu-bottom-mbl li a{
            list-style: none;
            font-weight: 700;
            color:#595F6F;
            margin-bottom: 7px;
            text-transform: uppercase;
            font-size: 14px;
            cursor: hover;
        }
        .gu-bottom-mbl{
            background-color: #DDDFE7;
            padding-top:0px;
            padding-bottom: 8px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .gu-bottom-mbl .first-col{
            border-right: #BFC4CE solid 1px;
        }
        body .sticky-links-tab {
            top:80px;
        }
        body #side {
            top:74px;
        }
        .navbar > div{
            display: block;
        }
        .navbar-toggler i{
            font-size: 20px;
        }
        .navbar-brand{
            height: auto;
        }
        .row.align-right-mbl:before, .row.align-right-mbl:after{
            content:none;
        }
        .top-slideshow{
            margin-left:0px;
            margin-right: 0px;
        }
	/*#outer_nav.lock-mbl-menu{
            height: 100% !important;
            overflow-y: scroll;
        }*/
    }

    #footer-bar #footer-bar-wrap{
        max-width: 1266px;
    }
    #footer{
        background-color: #0F4D81;
        padding: 90px 30px 60px 30px;
    }

    #footer .row{
	max-with:1366px;
	margin:auto;
    }
    #footer a, #footer p, #footer h5{
        color:white;
        font-family: "proxima-nova", Sans-serif;
        font-weight: 300;
    }
    #footer p, #footer-bar p{
        color: #DDDFE7;
        font-size: 14px;
        line-height: 1.4em;
        letter-spacing: 0px;
        font-family: "proxima-nova", Sans-serif;
    }
    #footer h5{
        color: #F7F8FB;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 18px;
        padding-bottom: 10px;
    }
    #footer li{
        list-style:none;
        margin-bottom: 10px;
        margin-top: 10px;
        line-height: 1.4em;
        font-size: 14px;
        font-weight: 500;
        font-family: "proxima-nova", Sans-serif;
        margin-left: 0px;
        margin-right: 0px;

    }
    #footer li a{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4em !important;
        font-family: "proxima-nova", Sans-serif;
        transition: ease 0.3s;
    }
    #footer li a:hover{
        color:#EFCA77;
        text-decoration: none;
    }
    #footer ul.list-unstyled{
        margin-left: 0px;
    }
    #footer .ftr-branding img{
        max-width: 100%;
        width:200px;
        margin-top: -40px;
        margin-left: -10px;
        box-shadow: none;
    }
    #footer-bar{
        padding:10px 30px 20px 30px;
        background-color: #0D3F69;
    }
    #footer .gu-statement{
        max-width: 320px;
	font-weight:400;
    }
    #footer .social i{
        color: #0D3F69;
        background-color: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        padding-top: 4px;
        padding-bottom: 5px;
        text-align: center;
        vertical-align: center;
        transition: ease 0.3s;
        font-size: 13px;
    }

    #footer .social{
        text-align: left;
    }

    #footer .social i:hover{
        color:white;
        background-color: #0D3F69;
    }
    #footer .social a{
        margin-right: 0px;
    }

    @media (max-width: 576px){
        #footer-bar{
            padding-top:20px;
            padding-bottom: 20px;
        }
    }