<div class="datatable responsive-table">
    <datatable-header pluralResourceName="domains">
        <ng-container leftContent>
            <button mat-raised-button permissionAwareButton="custom_domains.create" color="accent" (click)="showCrupdateDomainModal()" trans>Add Domain</button>
        </ng-container>
        <button rightContent mat-raised-button permissionAwareButton="custom_domains.delete" color="accent" (click)="maybeDeleteSelectedDomains()" trans>Delete Selected</button>
    </datatable-header>
    <custom-domain-table [domains]="datatable.data$ | async" [showOwnerColumn]="showUserColumn()" [showGlobalColumn]="false">
        <ng-template #editButton let-domain="domain">
            <button mat-icon-button permissionAwareButton="custom_domains.update" [resource]="domain" (click)="showCrupdateDomainModal(domain)" [matTooltip]="'Edit domain' | trans">
                <mat-icon svgIcon="edit"></mat-icon>
            </button>
        </ng-template>
    </custom-domain-table>
    <no-results-message svgImage="custom-domain.svg" *ngIf="datatable.paginator.noResults$ | async">
        <span primary-text>No custom domains have been added yet</span>
    </no-results-message>
    <datatable-footer></datatable-footer>
</div>
