@import "variables";

:host {
  display: block;
  width: $modal-wide-width;
  max-width: 100%;
}

.mat-radio-group {
  display: block;
  border: 1px solid mat-color($app-foreground, divider-lighter);
  border-radius: 4px;
}

.role-radio-button {
  margin-bottom: 15px;
  padding: 15px;
  border-bottom: 1px solid mat-color($app-foreground, divider-lighter);
  width: 100%;
}

.role-info {
  display: flex;
  align-items: center;
}

.role-image {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 0 15px;
}

.role-name {
  font-weight: 500;
  font-size: 1.5rem;
}
